In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('G:\Meu Drive\Jupyter Lab\databases\datasets\\db.csv', encoding = 'utf-8', sep = ';')

In [4]:
df.loc[0:3, ['Ano', 'Zero_km']]

    Ano  Zero_km
0  2003    False
1  1991    False
2  1990    False
3  2019     True

In [4]:
df[(df.Motor == 'Motor 4.0 Turbo') & (df.Zero_km == False ) & (df.Ano >= 2003)].head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
26,Fiesta Rocam Sedan,Motor 4.0 Turbo,2016,5795.0,False,"['Ar condicionado', 'Bancos de couro', 'Câmbio...",95347.75
87,Aston Martin V12 GT Zagato,Motor 4.0 Turbo,2011,113885.0,False,"['Central multimídia', 'Piloto automático', 'S...",141591.86
96,Fox,Motor 4.0 Turbo,2003,110116.0,False,"['Piloto automático', 'Câmbio automático', 'Tr...",101996.35
112,EcoSport,Motor 4.0 Turbo,2008,74015.0,False,"['Piloto automático', 'Sensor de estacionament...",108256.72

In [5]:
df[(df.Motor.isin(['Motor 4.0 Turbo', 'Motor V8'])) & (df.Valor >= 100000) | (df.Valor <= 80000) ].head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49
10,Ford Edge,Motor Diesel V6,2002,12859.0,False,"['Sensor crepuscular', 'Rodas de liga', 'Teto ...",71647.59
11,Courier,Motor Diesel V8,2007,8052.0,False,"['Central multimídia', '4 X 4', 'Piloto automá...",73919.53

In [17]:
df[['Motor', 'Ano']].value_counts().head(20)

Motor                  Ano
Motor 3.0 32v          2019    10
Motor V8               2019     9
Motor 4.0 Turbo        2019     6
Motor Diesel V8        2019     6
Motor Diesel           2019     5
Motor 1.8 16v          2019     4
Motor 5.0 V8 Bi-Turbo  2019     4
Motor 2.4 Turbo        2019     4
Motor V6               2019     4
Motor Diesel           2015     3
Motor 1.0 8v           2019     3
Motor 5.0 V8 Bi-Turbo  2002     3
Motor 4.0 Turbo        2005     3
Motor Diesel V6        2019     3
Motor 2.0 16v          2019     3
Motor Diesel V8        2007     3
Motor 5.0 V8 Bi-Turbo  1994     2
Motor Diesel           2002     2
Motor Diesel V6        1990     2
Motor Diesel           1991     2
dtype: int64

In [19]:
df['Zero_km'].value_counts()

False    197
True      61
Name: Zero_km, dtype: int64

In [28]:
#motor_grp = df.groupby('Motor')
#motor_grp.get_group('Motor Diesel')

In [39]:
filt = df['Motor'] == 'Motor V8'
df.loc[filt]['Zero_km'].value_counts()

False    17
True      9
Name: Zero_km, dtype: int64