In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('db.csv', encoding = 'UTF-8', sep = ';', usecols = ['Ano', 'Nome', 'Valor'], nrows = 12)

FileNotFoundError: [Errno 2] No such file or directory: 'db.csv'

In [69]:
dataset

                Nome   Ano      Valor
0      Jetta Variant  2003   88078.64
1             Passat  1991  106161.94
2           Crossfox  1990   72832.16
3                DS5  2019  124549.07
4   Aston Martin DB4  2006   92612.10
5      Palio Weekend  2012   97497.73
6                 A5  2019   56445.20
7     Série 3 Cabrio  2009  112310.44
8       Dodge Jorney  2010  120716.27
9             Carens  2011   76566.49
10         Ford Edge  2002   71647.59
11           Courier  2007   73919.53

In [55]:
dataset.shape

(10, 3)

In [96]:
df = pd.read_excel('df.xlsx', sheet_name = 'Ab2')

In [98]:
sheet = pd.ExcelFile('df.xlsx')

In [100]:
sheet.sheet_names

['Planilha1', 'Ab2']