In [ ]:
import pandas as pd
import mysql.connector

In [ ]:
db = mysql.connector.connect(
    host = 'localhost',
    port = '3306',
    user = 'root',
    passwd = '',
    database = 'db'
)

In [ ]:
cursor = db.cursor()

In [ ]:
comando_mysql = f'INSERT INTO try (Nome) VALEUS (%s)'
nome = input('Digite seu nome : ')

In [ ]:
cursor.execute(comando_mysql, nome)
db.commit()

In [ ]:
comando_mysql = f'SELECT * FROM try'
cursor.execute(comando_mysql)
banco_de_dados = cursor.fetchall()

In [ ]:
for c in banco_de_dados:
    print(c)